PORT= # Server listening port
MONGO_URL= # Address of database
JWT_SECRET= # token secret key
FRONTEND_DOMAIN= # domain of the frontend application
CLOUDINARY_CLOUD_NAME= # cloudinary cloud name
CLOUDINARY_API_KEY= # cloudinary api key
CLOUDINARY_API_SECRET= # cloudinary api secret
SMTP_PORT= # email port    # example: 587  # required  # 587, 465, 2525
SMTP_HOST= # email host    # example: smtp.gmail.com # required
SMTP_USER= # email user    # example: your email address # required
SMTP_PASSWORD= # email password # required
